{%extends 'base.html'%}
   
{%block bodyblock%}

<div class="container bg-dark d-flex justify-content-center align-items-center">
    <div class="mb-3 mt-5 shadow p-3">
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <h2 class="text-light mb-3">ADD PROFILE</h2>
            <hr class="" style="height: 5px; width: 100%; background-color:gray;">
            <div class="mb-3 text-light">
                {{form.as_p}}
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">create</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}